<a href="javascript:void(0)" class="inline-block no-underline text-4xl side-bar-show-button" {{action "showSideBar"}}>
  <MenuIcon @size="1.5rem" @color="black" />
</a>

<h1 class="inline-block mx-1">Model-Editor</h1>
