<div class="flex flex-col h-v-85">
  {{#if (and error (not ignoreErrors))}}
    <ErrorAlert @id="visualizer-error" @class="flex-initial" @error={{error}} />
  {{/if}}

  <div class="h-v-85 border border-black bg-white">
    <div id="visualizer">
    </div>
  </div>
</div>