<select onchange={{action "selectItem" value="target.value"}}>
  {{#each this.items as |item|}}
    <option value={{item}} selected={{eq item this.selectedItem}}>{{item}}</option>
  {{/each}}
</select>
