/* Fonts */

.roboto-regular {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 400;
}

.roboto-medium {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

.roboto-bold {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 700;
}

.inconsolata {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}
