/* Tootlip */

.mv-tooltip {
  border-radius: 1px !important;
  border: 1px solid theme('colors.gray.100');

  @apply text-base;

  @apply top-z-index;
  @apply bg-blue-900;
}

.mv-tooltip div {
  @apply font-semibold;
}

.mv-tooltip div > span {
  @apply font-light;
}

.mv-tooltip div > div {
  @apply ml-3;
}

/* PopUp */

.mv-overlay {
  @apply fixed;

  @apply w-screen;
  @apply h-screen;

  @apply top-z-index;
}

.mv-pop-up {
  width: 50%;
}

.mv-pop-up p {
  @apply my-3;
}

.mv-pop-up .mv-button {
  @apply mr-3;
}

/* Edit Mode */

/* Visualizer */

.mv-editmode .mv-visualizer {
  width: 70vw;
}

/* Edit Form */

.mv-editmode .mv-editor {
  @apply h-full;
  @apply overflow-y-scroll;

  @apply bg-white;

  @apply p-0;
  @apply pb-48;
  @apply border-solid;
  @apply border-l;
  @apply border-gray-300;

  width: 30vw;
}

.mv-edit-project,
.mv-edit-model,
.mv-edit-vertex,
.mv-edit-edge {
  @apply mb-6;
  @apply p-3;
}

.mv-edit-model,
.mv-edit-vertex,
.mv-edit-edge {
  @apply border-t;
  @apply border-solid;
  @apply border-gray-300;
}

.mv-editmode .mv-editor h2 {
  @apply text-lg;
  @apply font-bold;
  @apply py-2;

  @apply roboto-bold;
}

.mv-edit-model > *:last-child,
.mv-edit-vertex > *:last-child,
.mv-edit-edge > *:last-child {
  @apply py-3;

  @apply border-t;
  @apply border-solid;
  @apply border-gray-300;
}

/* Buttons */

.mv-button {
  @apply bg-green-500;

  @apply text-white;
  @apply text-lg;
  @apply font-bold;
  @apply py-1;
  @apply px-4;
  @apply my-2;
  @apply rounded;
}

.mv-button:hover {
  @apply bg-green-300;
}

.mv-button-delete-model,
.mv-button-delete-vertex,
.mv-button-delete-edge {
  background-color: theme('colors.red.500');
}

.mv-button-delete-model:hover,
.mv-button-delete-vertex:hover,
.mv-button-delete-edge:hover {
  background-color: theme('colors.red.300');
}

/* Select */

.mv-editmode .mv-editor select {
  @apply custom-select;

  @apply bg-gray-100;
  @apply text-gray-700;

  @apply outline-none;
  @apply shadow-none;

  @apply w-full;

  @apply py-2;
  @apply px-4;
  @apply mb-3;
}

.mv-editmode .mv-editor select:hover {
  @apply border-green-500;
}

.mv-editmode .mv-editor select:focus {
  @apply border;
  @apply border-green-500;

  @apply bg-white;

  @apply outline-none;
  @apply shadow-none;
}

/* Input */

.mv-editmode .mv-editor label {
  @apply block;
  @apply uppercase;
  @apply tracking-wide;

  @apply text-gray-700;
  @apply text-xs;
  @apply font-bold;

  @apply mb-2;
}

.mv-editmode .mv-editor input {
  @apply mb-3
}

.mv-editmode .mv-editor input[type="text"],
.mv-editmode .mv-editor input[type="number"] {
  @apply appearance-none;
  @apply block;
  @apply w-full;

  @apply bg-gray-100;
  @apply text-gray-700;

  @apply border;
  @apply border-gray-400;
  @apply rounded;

  @apply py-2;
  @apply px-4;

  @apply leading-tight;
}

.mv-editmode .mv-editor input[type="text"]:focus,
.mv-editmode .mv-editor input[type="number"]:focus {
  @apply outline-none;
  @apply bg-white;
  @apply border-green-500;
}

.mv-editmode .mv-editor input[type="text"]:disabled,
.mv-editmode .mv-editor input[type="number"]:disabled {
  @apply bg-gray-300;
  @apply text-black;
  @apply border-gray-500;
}

/* Textarea */

.mv-editmode .mv-editor textarea {
  @apply appearance-none;
  @apply block;
  @apply w-full;

  @apply bg-gray-100;
  @apply text-gray-700;

  @apply border;
  @apply border-gray-400;
  @apply rounded;

  @apply py-2;
  @apply px-4;
  @apply mb-3;

  @apply leading-tight;
}

.mv-editmode .mv-editor textarea:focus {
  @apply outline-none;
  @apply bg-white;
  @apply border-green-500;
}

/* Actions */

.mv-model-actions,
.mv-edge-actions {
  @apply my-6;
  @apply pt-6;

  @apply border-solid;
  @apply border-t;
  @apply border-gray-300;
}

.mv-model-actions textarea,
.mv-edge-actions textarea {
  @apply inconsolata;
}
/* Errors */

.mv-error {
  @apply block;

  @apply text-red-400;
  @apply text-xs;
  @apply italic;

  @apply mt-2;
  @apply mb-2;
}

.mv-input-error {
  border-color: theme('colors.red.400') !important;
}
