<div class="error-alert bg-red-lightest border border-red-light text-red-dark px-4 py-3 mb-2 rounded relative" role="alert">
  <strong class="font-bold">{{get @error "name"}}:</strong>
  <span class="inline">{{get @error "message"}}</span>
</div>
