<footer class="w-screen h-6 bg-white border-t border-solid border-gray-300" data-test-footer-bar>
  <div class="text-sm mx-3 justify-center flex">
    <p>Model-Editor - Find the source code on <a href="https://gitlab.com/altom/altwalker/model-editor" class="external-link" target="_blank" rel="noreferrer noopener">GitLab</a></p>
    <p class="mx-5">© 2020 Altom Consulting</p>
  </div>
</footer>