body {
    font: 400 14px 'Helvetica Neue', Helvetica;
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
}


.block {
    height: 75vh;
    max-height: 75vh;
}


.footer {
    height: 3vh;
}

.max {
    width: 100%;
}

#maximize-button {
    cursor: pointer;
    font-size: 0.75em;
}

.key {
    font-size: 95%
}

/* CodeMirror */

.CodeMirror {
    height: 100%;
}

.CodeMirror-scroll {
    max-height: 100%;
}


/* Graph SVG */

.node rect {
    fill: #f1c40f;

    stroke: #2c3e50;
    stroke-width: 2px;
}

g.node-label {
    fill: #000;
    font-size: 1.2em;
    font-weight: 400;
}

g.node-start > rect {
    fill: #27ae60;
}

g.node-fake {
    fill: #ecf0f1;
}

g.node-fake > rect {
    fill: #3498db;
}

g.node-blocked {
    font-weight: 600;
}

g.node-blocked > rect {
    fill: #7f8c8d;
}

g.edgeLabels {
    font-size: 1.2em;
    font-weight: 400;
}

.edgePath path {
    fill: #7f8c8d;

    stroke: #7f8c8d;
    stroke-width: 2px;
}


/* Tooltips */

.tooltip {
    font-size: 1.2em;
    font-weight: 400;

    position: absolute;
    text-align: left;

    padding: 10px 12px;

    background: #2c3e50;
    color: #ecf0f1;

    border: 0px;
    border-radius: 3px;

    pointer-events: none;
}

.code {
    display: inline-block;

    font-size: 0.9em;

    padding: 3px 6px;
    margin-top: 3px;

    border: 0px;
    border-radius: 3px;

    font-family: monospace;
    background-color: #ecf0f1;
    color: #e74c3c;
}
