<PopUps::Overlay @overlayCallback={{@overlayCallback}} data-test-help-pop-up>
  <h2 class="text-2xl mb-3 roboto-bold">Help</h2>

  <p>
    You can use this web-based editor to create, edit and visualize graphs for
    <a href="https://altom.gitlab.io/altwalker/altwalker/" class="external-link" target="_blank" rel="noreferrer noopener">AltWalker</a> or
    <a href="http://graphwalker.github.io/" class="external-link" target="_blank" rel="noreferrer noopener">GraphWalker</a>,
    which are model based testing frameworks.</p>

  <h3 class="text-xl my-5 roboto-medium">Shortcuts for JSON Editor</h3>

  <ul class="pl-2 list-disc list-inside">
    <li class="p-1">
      Autocomplete: <span class="key">Ctrl</span> + <span class="key">Space</span>
    </li>
    <li class="p-1">
      Snippets (Model, Vertex, Edge): <span class="key">Ctrl</span> + <span class="key">E</span>
    </li>
  </ul>

  <h3 class="text-xl my-5 roboto-medium">Support</h3>

  <p>If you have any questions or feedback join our Gitter chat room <a href="https://gitter.im/altwalker/community" class="external-link" target="_blank" rel="noopener noreferrer">here</a> to chat with us or with other members of the community.</p>

  <h3 class="text-xl my-5 roboto-medium">Further Reading/Useful Links</h3>

  <ul class="pl-2 list-disc list-inside">
    <li><a href="https://altom.gitlab.io/altwalker/altwalker/" class="external-link" target="_blank" rel="noreferrer noopener">AltWalker Documentation</a></li>
    <li><a href="http://graphwalker.github.io/" class="external-link" target="_blank" rel="noreferrer noopener">GraphWalker Documentation</a></li>
    <li><a href="https://gitlab.com/altom/altwalker/model-editor" class="external-link" target="_blank" rel="noreferrer noopener">Model-Editor Source Code</a></li>
  </ul>
</PopUps::Overlay>