.mv-editor {
    @apply text-grey-darker;

    color: #8795a1;
    background-color: #111;

    height: 100%;

    width: 350px !important;

    padding: 10px 30px !important;

    overflow-y: auto;
}

.mv-editor > div {
    @apply mb-3;
}

.mv-editor label {
    @apply py-1;
}

.mv-editor input {
    @apply appearance-none bg-grey-lighter text-grey-darker py-1 px-2 ml-2 border rounded;
}

.mv-editor input:focus {
    @apply outline-none border-green-light bg-white text-black;
}

.mv-editor input:disabled {
    @apply bg-grey-dark text-white;
}

.mv-editor select {
    @apply border rounded py-1 px-2 ml-2;
}

.mv-editor option {
    @apply py-1 px-2;
}

.mv-editor button {
    @apply bg-green text-white font-bold py-2 px-4 my-3 rounded;
    display: block;
}

.mv-editor button:hover {
    @apply bg-green-dark;
}

.mv-editor .error {
    @apply text-white my-3;

    display: block;
}

#mv-btn-delete-model,
#mv-btn-delete-vertex,
#mv-btn-delete-edge {
    @apply bg-red my-5;
}

#mv-btn-delete-model:hover,
#mv-btn-delete-vertex:hover,
#mv-btn-delete-edge:hover {
    @apply bg-red-dark;
}

/* Edit Sections */

.mv-edit-model h2,
.mv-edit-vertex h2,
.mv-edit-edge h2 {
    @apply text-white;

    padding: 10px 0;
}

.mv-edit-model > div,
.mv-edit-vertex > div,
.mv-edit-edge > div,
.mv-edit-action > div {
    @apply mb-3;
}

.mv-edit-model > div input,
.mv-edit-model > div select,
.mv-edit-vertex > div input,
.mv-edit-vertex > div select,
.mv-edit-edge > div input,
.mv-edit-edge > div select {
}

/* Actions */

.mv-edit-action > label {
    @apply text-white mb-1 text-xl font-bold;

    display: block;
}

.mv-remove-action,
.mv-action {
    display: inline-block;
}

.mv-added-action,
.mv-new-action {
    display: block;
}

.mv-added-action {
    margin: 0 !important;
}

.mv-action {
    @apply bg-white py-1 px-3 my-3 ml-1 font-mono text-black border rounded;

    display: inline-block;
}

.mv-new-action input {
    @apply mx-0;
}

.mv-new-action {
    @apply my-3;
}

.mv-add-action {
    @apply bg-green text-white font-bold py-1 px-4 my-3 ml-1 rounded;

    text-decoration: none;
}

.mv-add-action:hover {
    @apply bg-green-dark;
}

.mv-remove-action {
    @apply bg-red text-white font-bold py-1 px-4 my-3 rounded;

    text-decoration: none;
}

.mv-remove-action:hover {
    @apply bg-red-dark;
}
