/**
 * Side Bar
**/

.side-bar {
    position: fixed;

    z-index: 6;
    top: 0;
    left: 0;

    background-color: #111;
    overflow-x: hidden;

    transition: 0.5s;
}

.overlay {
    position: fixed;
    display: none;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0, 0.5);

    z-index: 5;
}

.animate-opacity-in {
    animation: opacity-in 0.8s;
}

.animate-opacity-out {
    animation: opacity-out 3s;
}

@keyframes opacity-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes opacity-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

/* The navigation menu links */

.side-bar-link {
    @apply block no-underline text-2xl text-grey-dark p-1 pl-8;
}

.side-bar-link:hover {
    @apply text-grey;
}

.side-bar a {
    transition: 0.5s;
}

.side-bar-show-button {
    color: #818181;
}

.side-bar .side-bar-footer {
    position: absolute;
    display: block;
    bottom: 25px;

    padding: 8px 8px 8px 32px;

    color: #818181;

    transition: 0.3s;
}


.key {
    @apply bg-white rounded-sm p-1 px-2 font-mono text-black border-black;
}