<Side-Bar @id="side-bar" @class="side-bar h-full w-0 py-4" @hideSideBar={{action "hideSideBar"}} />

<div id="overlay" class="overlay animate-opacity-in" {{action "hideSideBar"}} role="button"></div>

<div id="main" class="h-screen w-screen max-w-screen px-4 pt-4 bg-grey-lightest">
  <Header-Bar @class="header-bar" @showSideBar={{action "showSideBar"}} />

  <div class="h-v-90">
    {{outlet}}
  </div>
</div>