{{page-title "Not Found"}}

<div class="w-screen h-main flex justify-center items-center">
  <div class="flex-1 text-center" data-test-not-found-page>
    <div class="flex justify-center items-center">
      <img src="assets/svg/not-found.svg" class="w-1/3" alt="Not Found">
    </div>

    <h2 class="text-4xl roboto-bold">Oops! The page you are looking for was not found.</h2>

    <p>The page you are looking for might have been remove or had it's name changed.</p>

    <p>Try going to the <LinkTo @route="index" class="external-link">home</LinkTo> page.</p>
  </div>
</div>