{{page-title "Model Viewer" prepend=true}}
{{page-title "A visualizer for AltWalker and GraphWalker models." prepend=false}}

<div class="w-screen h-main flex flex-colloms">
  <ModelViewer class="h-main w-full" @editMode={{false}} />
</div>
