{{page-title "Visual Editor" prepend=true}}
{{page-title "A visual editor for AltWalker and GraphWalker models." prepend=false}}

<div class="w-screen h-main flex flex-colloms">
  <ModelViewer class="h-main" @editMode={{true}} />
</div>
